/* FONT */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* COLORS */
:root {
  --color-background: #f0f0f0;
  --color-text: #333;
  --color-border: #ccc;
  --color-placeholder: #777;
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;
  --color-link: #1a73e8;
  --color-divider: #ddd;
  --color-social-hover: #f0f0f0;
  --color-floating-label: #5f6368;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-background);
}

.wrapper {
  width: 420px;
  background: var(--color-white);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: var(--color-text);
  border-radius: 12px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid var(--color-border);
  border-radius: 40px;
  font-size: 16px;
  color: var(--color-text);
  padding: 20px 45px 20px 20px;
  transition: 0.3s;
}

.input-box input::placeholder {
  color: var(--color-placeholder);
}

.input-box input:focus {
  border-color: var(--color-primary);
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--color-placeholder);
  cursor: pointer;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: var(--color-primary);
  margin-right: 4px;
}

.remember-forgot a {
  color: var(--color-link);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: var(--color-white);
  font-weight: 600;
  transition: 0.3s;
}

.wrapper .btn:hover {
  background: var(--color-primary-hover);
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
